keyframes animation {
    0%     {left: 9.682149964959999%; top: 6.24309133804%;}
    0.19646365422396855%     {left: 19.29366331468%; top: 12.63744032702%;}
    0.3929273084479371%     {left: 28.83368358344%; top: 19.045706738099998%;}
    0.5893909626719057%     {left: 38.312846595580005%; top: 25.457621403639997%;}
    0.7858546168958742%     {left: 47.81652868094001%; top: 31.712024384619998%;}
    0.9823182711198428%     {left: 57.29594234784001%; top: 38.0372916686%;}
    1.1787819253438114%     {left: 57.068884672100005%; top: 38.05276676824%;}
    1.37524557956778%     {left: 56.7888413921%; top: 37.93142339834%;}
    1.5717092337917484%     {left: 56.64560554586%; top: 37.78269113364%;}
    1.768172888015717%     {left: 56.43752154142001%; top: 37.73308811734%;}
    1.9646365422396856%     {left: 56.19715303670001%; top: 37.825358566%;}
    2.161100196463654%     {left: 55.871713898740005%; top: 37.82602313902%;}
    2.357563850687623%     {left: 55.54468571038%; top: 37.99931116718%;}
    2.5540275049115913%     {left: 55.39635407794%; top: 38.1546484275%;}
    2.75049115913556%     {left: 55.15583414867999%; top: 38.24498466696%;}
    2.9469548133595285%     {left: 54.96189182276001%; top: 38.27875438526%;}
    3.143418467583497%     {left: 54.640673555339994%; top: 38.37548116664%;}
    3.3398821218074657%     {left: 54.5098881013%; top: 38.46472831641999%;}
    3.536345776031434%     {left: 54.35707097897999%; top: 38.43631802802%;}
    3.732809430255403%     {left: 54.01133040548001%; top: 38.49192380102%;}
    3.9292730844793713%     {left: 53.61546158680001%; top: 38.63652242874%;}
    4.12573673870334%     {left: 53.21664129196%; top: 38.7843859446%;}
    4.322200392927308%     {left: 52.88325341412%; top: 38.907367099220004%;}
    4.518664047151278%     {left: 52.54807516608%; top: 39.05734346172%;}
    4.715127701375246%     {left: 52.12716331288%; top: 39.328348710780006%;}
    4.911591355599214%     {left: 51.708396772499995%; top: 39.56640044672001%;}
    5.1080550098231825%     {left: 51.33959918424%; top: 39.84192163222%;}
    5.304518664047151%     {left: 51.026210688179994%; top: 40.124937653900005%;}
    5.50098231827112%     {left: 50.86292273324%; top: 40.38568925558%;}
    5.697445972495088%     {left: 50.48495809472%; top: 40.726725437519995%;}
    5.893909626719057%     {left: 50.15953961891999%; top: 40.99416694888%;}
    6.090373280943026%     {left: 49.8898644594%; top: 41.29188627672%;}
    6.286836935166994%     {left: 49.56625631172%; top: 41.651946581340006%;}
    6.4833005893909625%     {left: 49.2894783503%; top: 41.977552978919995%;}
    6.679764243614931%     {left: 48.943051767019995%; top: 42.25709981406%;}
    6.8762278978389%     {left: 48.53388129394%; top: 42.57328935027999%;}
    7.072691552062868%     {left: 48.20449276342%; top: 42.84080211646%;}
    7.269155206286837%     {left: 47.98404154642%; top: 42.878182777199996%;}
    7.465618860510806%     {left: 47.75579805134%; top: 42.82581784514%;}
    7.662082514734774%     {left: 47.419104405679995%; top: 42.83687250148%;}
    7.858546168958743%     {left: 47.13365238748%; top: 42.8808127776%;}
    8.055009823182711%     {left: 46.95567090494001%; top: 42.82669777896%;}
    8.25147347740668%     {left: 46.7230253534%; top: 42.7792243539%;}
    8.447937131630647%     {left: 46.39132012843999%; top: 42.88334211332%;}
    8.644400785854616%     {left: 46.17534436806%; top: 42.9797273361%;}
    8.840864440078585%     {left: 46.05052783214%; top: 42.93800839981999%;}
    9.037328094302556%     {left: 45.586715366680004%; top: 42.8863517219%;}
    9.233791748526523%     {left: 45.2442050182%; top: 42.73615851502%;}
    9.430255402750491%     {left: 44.891845035%; top: 42.58752269092%;}
    9.62671905697446%     {left: 44.57860443256%; top: 42.30495674074001%;}
    9.823182711198427%     {left: 44.14409078494%; top: 41.81615849504%;}
    10.019646365422396%     {left: 43.545715323379994%; top: 41.435940295159995%;}
    10.216110019646365%     {left: 43.19230685786%; top: 40.92534538235999%;}
    10.412573673870334%     {left: 42.7646827379%; top: 40.48819485048%;}
    10.609037328094303%     {left: 42.499872807820005%; top: 40.042559054%;}
    10.805500982318271%     {left: 42.2984441206%; top: 39.788361891040005%;}
    11.00196463654224%     {left: 42.223861984680006%; top: 39.86058712639999%;}
    11.19842829076621%     {left: 42.47436164248%; top: 40.08722324216%;}
    11.394891944990176%     {left: 42.658023065180004%; top: 40.506512212059995%;}
    11.591355599214145%     {left: 42.98507174316%; top: 40.91692800382%;}
    11.787819253438114%     {left: 43.18164582055999%; top: 41.4384916021%;}
    11.984282907662083%     {left: 43.37965844568%; top: 41.764853158120005%;}
    12.180746561886052%     {left: 43.57925583408%; top: 41.73892416332%;}
    12.37721021611002%     {left: 43.61250161558%; top: 41.47022197122%;}
    12.573673870333987%     {left: 43.85816933151999%; top: 41.2367283985%;}
    12.770137524557956%     {left: 44.1075306758%; top: 40.757575830860006%;}
    12.966601178781925%     {left: 44.49450546404%; top: 40.36250297%;}
    13.163064833005894%     {left: 45.0207888678%; top: 40.368771366800004%;}
    13.359528487229863%     {left: 45.61670842155999%; top: 40.57496228672%;}
    13.555992141453832%     {left: 46.365835769179995%; top: 40.90448313962%;}
    13.7524557956778%     {left: 47.209743608560004%; top: 41.302440847620005%;}
    13.948919449901767%     {left: 47.984356345500004%; top: 42.07004579026001%;}
    14.145383104125736%     {left: 48.75659684954%; top: 42.77485958076001%;}
    14.341846758349705%     {left: 49.41275844817999%; top: 43.22503198884%;}
    14.538310412573674%     {left: 50.089560458760005%; top: 43.731712424760005%;}
    14.734774066797643%     {left: 50.64938858562%; top: 44.28588886108001%;}
    14.931237721021612%     {left: 51.03474094996%; top: 44.91514174284001%;}
    15.12770137524558%     {left: 51.41974824838%; top: 45.61480308405999%;}
    15.324165029469548%     {left: 51.68622329701999%; top: 46.23574967198%;}
    15.520628683693516%     {left: 51.99717361688%; top: 46.710006836679995%;}
    15.717092337917485%     {left: 52.01489865583999%; top: 47.24567254648%;}
    15.913555992141454%     {left: 52.167808499239996%; top: 47.38561377562%;}
    16.110019646365423%     {left: 52.18526161888%; top: 47.48534800734%;}
    16.30648330058939%     {left: 52.099054413080005%; top: 47.42170583402%;}
    16.50294695481336%     {left: 51.99587908084%; top: 47.14005215572%;}
    16.699410609037326%     {left: 52.02711658993999%; top: 46.937732310280005%;}
    16.895874263261295%     {left: 52.260787551099995%; top: 46.49940626454%;}
    17.092337917485263%     {left: 52.426224838180005%; top: 46.316041593259996%;}
    17.288801571709232%     {left: 52.657575737020004%; top: 45.95257464120001%;}
    17.4852652259332%     {left: 53.127108250919996%; top: 45.515398278940005%;}
    17.68172888015717%     {left: 53.93256194061999%; top: 45.04011288778%;}
    17.87819253438114%     {left: 54.80477006152%; top: 44.703157334480004%;}
    18.07465618860511%     {left: 55.87866317454%; top: 44.4447242751%;}
    18.271119842829076%     {left: 56.845458813860006%; top: 44.184264609139994%;}
    18.467583497053045%     {left: 58.08446245687999%; top: 43.9063156878%;}
    18.664047151277014%     {left: 59.46116030736%; top: 43.71212811394%;}
    18.860510805500983%     {left: 60.70686139728%; top: 43.673634020579996%;}
    19.05697445972495%     {left: 61.890432746180004%; top: 43.49565258698%;}
    19.25343811394892%     {left: 62.756558817280016%; top: 43.385421491139994%;}
    19.44990176817289%     {left: 63.87008488383999%; top: 43.218728602140004%;}
    19.646365422396855%     {left: 64.86865722378%; top: 43.13091206104001%;}
    19.842829076620824%     {left: 65.66469647184%; top: 42.75625740543999%;}
    20.039292730844792%     {left: 66.32396735571999%; top: 42.5419481368%;}
    20.23575638506876%     {left: 66.77829839456001%; top: 42.408228833280006%;}
    20.43222003929273%     {left: 67.41794627972%; top: 42.16523154348%;}
    20.6286836935167%     {left: 67.9196157489%; top: 41.84191815621999%;}
    20.825147347740668%     {left: 68.196628239%; top: 41.72013346112%;}
    21.021611001964637%     {left: 68.4725769559%; top: 41.680854110080006%;}
    21.218074656188605%     {left: 68.7958313105%; top: 41.53472601719999%;}
    21.414538310412574%     {left: 69.04917932004%; top: 41.41751010548%;}
    21.611001964636543%     {left: 69.16516076386%; top: 41.474078368419995%;}
    21.807465618860512%     {left: 69.28060258269998%; top: 41.531381965739996%;}
    22.00392927308448%     {left: 69.4646219425%; top: 41.44842655200001%;}
    22.20039292730845%     {left: 69.57665521044%; top: 41.563200954980005%;}
    22.39685658153242%     {left: 69.64159926028%; top: 41.561197452360005%;}
    22.593320235756384%     {left: 69.84121491348002%; top: 41.485778059679994%;}
    22.789783889980352%     {left: 70.10986053018%; top: 41.22774286446%;}
    22.98624754420432%     {left: 70.38073512128%; top: 41.081458254199994%;}
    23.18271119842829%     {left: 70.65813934382%; top: 40.81248099302%;}
    23.37917485265226%     {left: 71.0625328757%; top: 40.55004640935999%;}
    23.575638506876228%     {left: 71.53916417597999%; top: 40.32313006338%;}
    23.772102161100197%     {left: 71.87952571358001%; top: 40.18926258424%;}
    23.968565815324165%     {left: 72.43968205131999%; top: 40.165014102700006%;}
    24.165029469548134%     {left: 72.78466323965999%; top: 40.17467128411999%;}
    24.361493123772103%     {left: 73.34308298166%; top: 40.16281154612%;}
    24.557956777996072%     {left: 73.84322086185999%; top: 40.19665972024%;}
    24.75442043222004%     {left: 74.34892864209999%; top: 40.208837300300004%;}
    24.95088408644401%     {left: 75.00315610611999%; top: 39.91082391574%;}
    25.147347740667975%     {left: 75.38407133412%; top: 39.61103298044%;}
    25.343811394891947%     {left: 75.91300675638%; top: 39.41586344302001%;}
    25.540275049115913%     {left: 76.36987846791999%; top: 39.001496623639994%;}
    25.736738703339885%     {left: 76.76542504714001%; top: 38.89295742068%;}
    25.93320235756385%     {left: 76.85841900026001%; top: 39.09371165652%;}
    26.129666011787815%     {left: 76.8005908476%; top: 39.73624763784%;}
    26.326129666011788%     {left: 76.8021393882%; top: 40.42277580364%;}
    26.522593320235753%     {left: 76.65065623064%; top: 41.290646002120006%;}
    26.719056974459725%     {left: 76.270132345%; top: 42.60398049183999%;}
    26.91552062868369%     {left: 75.81304834242%; top: 43.970113812600005%;}
    27.111984282907663%     {left: 75.42936496972%; top: 45.20454054596%;}
    27.308447937131632%     {left: 75.08211214965999%; top: 46.234644369979996%;}
    27.5049115913556%     {left: 74.65508727303998%; top: 47.473210791099994%;}
    27.70137524557957%     {left: 74.36109667762%; top: 48.45018848802%;}
    27.897838899803535%     {left: 74.30054032427999%; top: 49.1326233625%;}
    28.094302554027507%     {left: 74.23900946804001%; top: 49.270283826939995%;}
    28.290766208251473%     {left: 74.24608227622001%; top: 49.29266559458%;}
    28.487229862475445%     {left: 74.29487622636%; top: 49.15532668182%;}
    28.68369351669941%     {left: 74.26263882270001%; top: 48.60183543196%;}
    28.880157170923383%     {left: 74.17239885778001%; top: 47.834196681739996%;}
    29.076620825147348%     {left: 73.64046366534%; top: 47.054132813280006%;}
    29.273084479371313%     {left: 73.2705540595%; top: 46.38746312064001%;}
    29.469548133595286%     {left: 72.79912301178%; top: 45.69576790156001%;}
    29.66601178781925%     {left: 71.99961633708%; top: 45.12223873728001%;}
    29.862475442043223%     {left: 71.27859478215998%; top: 44.883982063400005%;}
    30.05893909626719%     {left: 70.38790160990001%; top: 44.841751933059996%;}
    30.25540275049116%     {left: 69.87610430074001%; top: 44.908475853%;}
    30.451866404715126%     {left: 69.03003844294%; top: 45.10129312002%;}
    30.648330058939095%     {left: 68.20670467324%; top: 45.53920654157999%;}
    30.844793713163064%     {left: 67.88325660506001%; top: 45.898790299119995%;}
    31.041257367387033%     {left: 67.47375603408%; top: 46.21248314284%;}
    31.237721021611005%     {left: 67.36248958944%; top: 46.51016755508001%;}
    31.43418467583497%     {left: 67.023236005%; top: 46.77142149358001%;}
    31.630648330058943%     {left: 67.10883562344%; top: 46.822356891240005%;}
    31.827111984282908%     {left: 67.20627641939998%; top: 46.73964524190001%;}
    32.02357563850688%     {left: 67.19622407032%; top: 46.737698843800004%;}
    32.220039292730846%     {left: 67.18815777218%; top: 46.61125277006%;}
    32.416502946954814%     {left: 67.17734308415999%; top: 46.50090065378%;}
    32.61296660117878%     {left: 67.34292608888%; top: 46.459319636260005%;}
    32.80943025540275%     {left: 67.1659888558%; top: 46.55062043742%;}
    33.00589390962672%     {left: 67.27860939821998%; top: 46.6119173286%;}
    33.20235756385069%     {left: 67.15700377099999%; top: 46.71584596696%;}
    33.39882121807465%     {left: 67.21316024821999%; top: 46.86830782394%;}
    33.59528487229863%     {left: 67.15545806216%; top: 46.96069063372%;}
    33.79174852652259%     {left: 67.08771080954%; top: 46.9900228219%;}
    33.988212180746565%     {left: 67.27951053164001%; top: 46.84651955185999%;}
    34.18467583497053%     {left: 67.16589980676%; top: 46.703892638899994%;}
    34.3811394891945%     {left: 67.22591565505999%; top: 46.38283576754%;}
    34.577603143418465%     {left: 67.10116799606001%; top: 46.03552150888001%;}
    34.77406679764244%     {left: 67.13726793016%; top: 45.55557796002%;}
    34.9705304518664%     {left: 67.04764420987999%; top: 45.14318118414%;}
    35.16699410609037%     {left: 66.88910452466%; top: 44.8592865264%;}
    35.36345776031434%     {left: 66.90600239008%; top: 44.518223976079994%;}
    35.55992141453831%     {left: 66.75476955974%; top: 44.36444180390001%;}
    35.75638506876228%     {left: 66.69751458526001%; top: 44.28151964488%;}
    35.952848722986246%     {left: 66.62061561013999%; top: 44.3560680662%;}
    36.14931237721022%     {left: 66.60043478976%; top: 44.388430145579996%;}
    36.345776031434184%     {left: 66.42320304308001%; top: 44.42526133229999%;}
    36.54223968565815%     {left: 66.33497339302001%; top: 44.48512319682%;}
    36.73870333988212%     {left: 66.32674277670002%; top: 44.38552009698%;}
    36.93516699410609%     {left: 66.13562535778001%; top: 44.27065691816%;}
    37.13163064833006%     {left: 65.96428556612001%; top: 44.163423603880005%;}
    37.32809430255403%     {left: 65.73524616598002%; top: 43.77172310044%;}
    37.524557956778%     {left: 65.46833692157999%; top: 43.36955003064%;}
    37.721021611001966%     {left: 65.11255501870001%; top: 42.796251386040005%;}
    37.91748526522593%     {left: 64.75642442591999%; top: 42.23434593832%;}
    38.1139489194499%     {left: 64.58438492226%; top: 41.584609654960005%;}
    38.31041257367387%     {left: 64.07121567159999%; top: 40.930012130079994%;}
    38.50687622789784%     {left: 63.82641239006001%; top: 40.43883742244%;}
    38.70333988212181%     {left: 63.58035624362001%; top: 40.06438479664%;}
    38.89980353634578%     {left: 63.064122443759985%; top: 39.90989309058%;}
    39.09626719056975%     {left: 62.65390375892%; top: 39.90245674552%;}
    39.29273084479371%     {left: 62.146269439479994%; top: 40.002131940599995%;}
    39.489194499017685%     {left: 61.81719915698001%; top: 40.213025688639995%;}
    39.68565815324165%     {left: 61.398000313939995%; top: 40.30948812268%;}
    39.88212180746562%     {left: 60.97832784958%; top: 40.39850484182001%;}
    40.078585461689585%     {left: 60.81450990652001%; top: 40.46417964764%;}
    40.27504911591356%     {left: 60.54403003883999%; top: 40.23063291482%;}
    40.47151277013752%     {left: 60.4674705515%; top: 39.920278713660004%;}
    40.66797642436149%     {left: 60.44357954734001%; top: 39.46877813064%;}
    40.86444007858546%     {left: 60.28818308852%; top: 39.12260599022%;}
    41.06090373280943%     {left: 60.203409069680006%; top: 38.659311591939996%;}
    41.2573673870334%     {left: 60.13408288026001%; top: 38.434880057959994%;}
    41.45383104125737%     {left: 60.06446863718%; top: 38.5698633969%;}
    41.650294695481335%     {left: 59.98127656548%; top: 38.92343236256001%;}
    41.846758349705304%     {left: 60.012315623439996%; top: 39.88763011772%;}
    42.04322200392927%     {left: 59.99199539236001%; top: 41.00213275718%;}
    42.23968565815324%     {left: 60.08249268036%; top: 42.423214537620005%;}
    42.43614931237721%     {left: 60.08132292606%; top: 43.79161970248%;}
    42.63261296660118%     {left: 60.17201984754001%; top: 45.38891538866%;}
    42.82907662082515%     {left: 60.26351758726%; top: 46.55856620540001%;}
    43.02554027504912%     {left: 60.330287689740004%; top: 47.1699816049%;}
    43.222003929273086%     {left: 60.3547232134%; top: 47.7144667588%;}
    43.418467583497055%     {left: 60.38013327706%; top: 47.827451921539996%;}
    43.614931237721024%     {left: 60.592221065059995%; top: 47.45129305686%;}
    43.811394891944985%     {left: 60.80510494222%; top: 46.586510283799996%;}
    44.00785854616896%     {left: 61.11119266003999%; top: 45.908679599260005%;}
    44.20432220039292%     {left: 61.351764466759995%; top: 45.16309352574%;}
    44.4007858546169%     {left: 61.912499339220005%; top: 44.39354007238%;}
    44.59724950884086%     {left: 62.472901478820006%; top: 44.059609609579994%;}
    44.79371316306484%     {left: 62.75302956422%; top: 44.06915930612%;}
    44.9901768172888%     {left: 63.18847658478%; top: 44.284912495680004%;}
    45.18664047151277%     {left: 63.34462754943999%; top: 44.58433749992%;}
    45.383104125736736%     {left: 63.68831421048%; top: 44.987192273960005%;}
    45.579567779960705%     {left: 63.938851106039984%; top: 45.34873317402%;}
    45.77603143418468%     {left: 64.18944583673999%; top: 45.34237179644%;}
    45.97249508840864%     {left: 64.51761051406%; top: 45.28857975754%;}
    46.16895874263262%     {left: 64.68981548094%; top: 45.03120373429999%;}
    46.36542239685658%     {left: 65.1408836358%; top: 44.561852523560006%;}
    46.56188605108055%     {left: 65.31101999508%; top: 43.95190394462%;}
    46.75834970530452%     {left: 65.48075008177999%; top: 43.367028806540006%;}
    46.95481335952849%     {left: 65.52243852552%; top: 42.84453973384%;}
    47.151277013752456%     {left: 65.62784662147999%; top: 42.35022776442%;}
    47.347740667976424%     {left: 65.78412262114%; top: 42.01393806954%;}
    47.54420432220039%     {left: 65.66278130782%; top: 41.81274851324%;}
    47.74066797642436%     {left: 65.8208618872%; top: 41.618011121239995%;}
    47.93713163064833%     {left: 65.79264654788%; top: 41.5173055854%;}
    48.1335952848723%     {left: 65.98596979724%; top: 41.30223311649999%;}
    48.33005893909627%     {left: 66.29007222957999%; top: 41.03223013434%;}
    48.52652259332024%     {left: 66.54386070989999%; top: 40.64499983912%;}
    48.722986247544206%     {left: 67.07775571354%; top: 40.234014290299996%;}
    48.919449901768175%     {left: 67.31042059437999%; top: 39.9192412903%;}
    49.115913555992144%     {left: 67.82413008238%; top: 39.4937208187%;}
    49.312377210216106%     {left: 68.19012235144%; top: 39.284313134899996%;}
    49.50884086444008%     {left: 68.6805974793%; top: 39.070431938780004%;}
    49.70530451866404%     {left: 69.2669811101%; top: 38.93037629968%;}
    49.90176817288802%     {left: 69.67479030318%; top: 38.80182821612%;}
    50.09823182711198%     {left: 70.10357033678%; top: 38.83862492775999%;}
    50.29469548133595%     {left: 70.62859140124%; top: 38.91739847106%;}
    50.491159135559926%     {left: 71.40010598117999%; top: 38.70635953982%;}
    50.687622789783894%     {left: 71.88704820556%; top: 38.8580956745%;}
    50.884086444007856%     {left: 72.37436469804%; top: 39.07212659878%;}
    51.080550098231825%     {left: 72.94612663774001%; top: 39.21269531726%;}
    51.277013752455794%     {left: 73.46382586201999%; top: 39.2213074096%;}
    51.47347740667977%     {left: 73.69680229258%; top: 39.520958173320004%;}
    51.66994106090373%     {left: 73.83286102368%; top: 39.901139730560004%;}
    51.8664047151277%     {left: 73.87452065353999%; top: 39.95681573388%;}
    52.06286836935167%     {left: 73.72584376986%; top: 40.122709937580005%;}
    52.25933202357563%     {left: 73.67152616546%; top: 40.327320502240006%;}
    52.455795677799614%     {left: 73.74678876468%; top: 40.38421136248%;}
    52.652259332023576%     {left: 73.72937880422%; top: 40.25006424298%;}
    52.848722986247544%     {left: 73.62914105232001%; top: 40.234863013319995%;}
    53.045186640471506%     {left: 73.71671313057999%; top: 40.15983993372%;}
    53.24165029469549%     {left: 73.7526655208%; top: 39.99851927262%;}
    53.43811394891945%     {left: 73.83566868684%; top: 39.8776408104%;}
    53.63457760314342%     {left: 73.77464887299999%; top: 39.89444117064001%;}
    53.83104125736738%     {left: 73.92367508042%; top: 39.87453153722%;}
    54.02750491159135%     {left: 74.15065006344%; top: 39.8113035271%;}
    54.223968565815326%     {left: 74.46895342352%; top: 39.779497574379995%;}
    54.420432220039295%     {left: 75.01951236272%; top: 39.65830188572001%;}
    54.616895874263264%     {left: 75.25154844854%; top: 39.541648721819996%;}
    54.813359528487226%     {left: 75.72984438565999%; top: 39.40638441093999%;}
    55.0098231827112%     {left: 76.25163896618%; top: 39.246440551739994%;}
    55.20628683693517%     {left: 76.768190773%; top: 39.07382841817999%;}
    55.40275049115914%     {left: 77.01766496648%; top: 39.0428415779%;}
    55.5992141453831%     {left: 77.31660289194%; top: 39.09098675498%;}
    55.79567779960707%     {left: 77.61493568422001%; top: 39.12986935374%;}
    55.992141453831046%     {left: 77.98838980404%; top: 39.196757329520004%;}
    56.188605108055015%     {left: 78.11690022074%; top: 39.415574459759995%;}
    56.385068762278976%     {left: 78.24098153292%; top: 39.583339116939996%;}
    56.581532416502945%     {left: 78.52465138072%; top: 39.64000377456%;}
    56.777996070726914%     {left: 78.62684160926%; top: 39.6989895999%;}
    56.97445972495089%     {left: 78.86853511710001%; top: 39.79258500296%;}
    57.17092337917485%     {left: 78.8175120708%; top: 39.89066699314%;}
    57.36738703339882%     {left: 79.07877196881999%; top: 39.87866066504%;}
    57.56385068762279%     {left: 79.08306461878001%; top: 40.078108051339996%;}
    57.760314341846765%     {left: 79.18516688623998%; top: 40.26075235614%;}
    57.95677799607073%     {left: 79.24318400735999%; top: 40.56438814964%;}
    58.153241650294696%     {left: 79.24869997633999%; top: 40.895508579099996%;}
    58.349705304518665%     {left: 79.56061345446%; top: 41.24200471268001%;}
    58.546168958742626%     {left: 79.72084678738%; top: 41.6151358091%;}
    58.7426326129666%     {left: 80.01401213204001%; top: 41.881247816839995%;}
    58.93909626719057%     {left: 80.31415821971999%; top: 42.12666305286%;}
    59.13555992141454%     {left: 80.74502111012%; top: 42.32592644944%;}
    59.3320235756385%     {left: 81.44957997196%; top: 42.38884668125999%;}
    59.52848722986247%     {left: 81.88734755838001%; top: 42.594221713859994%;}
    59.72495088408645%     {left: 82.4357847328%; top: 42.7238603266%;}
    59.921414538310415%     {left: 83.09475716458002%; top: 42.84862103058%;}
    60.11787819253438%     {left: 83.57148210348001%; top: 43.20226520186%;}
    60.314341846758346%     {left: 84.10430589034%; top: 43.56491986689999%;}
    60.51080550098232%     {left: 84.44955509176%; top: 44.059445546919996%;}
    60.70726915520629%     {left: 84.84707624432%; top: 44.370430561880006%;}
    60.90373280943025%     {left: 85.16786866354%; top: 44.74668982080001%;}
    61.10019646365422%     {left: 85.32758526150002%; top: 45.20984610383999%;}
    61.29666011787819%     {left: 85.61822540677998%; top: 45.493587999880006%;}
    61.493123772102166%     {left: 85.80032021578002%; top: 45.74131670901999%;}
    61.68958742632613%     {left: 85.82851992286%; top: 45.94333356696%;}
    61.8860510805501%     {left: 85.90932926218%; top: 46.17683658370001%;}
    62.082514734774065%     {left: 85.89011464787998%; top: 46.360686044640005%;}
    62.27897838899804%     {left: 85.77335804888%; top: 46.501050988740005%;}
    62.47544204322201%     {left: 85.61963283038001%; top: 46.636201626660004%;}
    62.67190569744597%     {left: 85.42591495628%; top: 46.71748019404%;}
    62.86836935166994%     {left: 85.19964776850001%; top: 46.856200641659996%;}
    63.0648330058939%     {left: 84.87962594844%; top: 47.014208560780006%;}
    63.261296660117885%     {left: 84.54561045506%; top: 47.25996387124%;}
    63.45776031434185%     {left: 84.44394342100001%; top: 47.4874756997%;}
    63.654223968565816%     {left: 84.18385247148001%; top: 47.70382646851999%;}
    63.85068762278978%     {left: 84.01072179262%; top: 47.92600274972%;}
    64.04715127701375%     {left: 84.13695736083999%; top: 48.042118455620006%;}
    64.24361493123773%     {left: 84.21637528496%; top: 48.062185389899994%;}
    64.44007858546169%     {left: 84.48278505394%; top: 47.96740360374%;}
    64.63654223968565%     {left: 84.50397349203999%; top: 47.84038791488%;}
    64.83300589390963%     {left: 84.79216184110001%; top: 47.680307380920006%;}
    65.0294695481336%     {left: 84.94555189996%; top: 47.35193465606001%;}
    65.22593320235757%     {left: 84.8694270574%; top: 47.029120414480005%;}
    65.42239685658153%     {left: 84.93080767186001%; top: 46.61026128626%;}
    65.6188605108055%     {left: 84.61569210518%; top: 46.22089853372%;}
    65.81532416502947%     {left: 84.62111117338%; top: 45.782935513860004%;}
    66.01178781925344%     {left: 84.30938613462%; top: 45.47344648058%;}
    66.2082514734774%     {left: 83.77993195716%; top: 45.27308793195999%;}
    66.40471512770138%     {left: 83.48100073338%; top: 45.07873085824%;}
    66.60117878192534%     {left: 82.90999325717999%; top: 45.00758664654%;}
    66.7976424361493%     {left: 82.65264063321999%; top: 44.99367412446%;}
    66.99410609037328%     {left: 82.17842467134%; top: 44.91884420686%;}
    67.19056974459725%     {left: 81.7263732944%; top: 44.75448898882%;}
    67.38703339882122%     {left: 81.82063155508%; top: 44.674181921800006%;}
    67.58349705304518%     {left: 81.53500256233998%; top: 44.59224730518%;}
    67.77996070726915%     {left: 81.63461930419999%; top: 44.37695097438%;}
    67.97642436149313%     {left: 81.51158034155999%; top: 44.13244591136%;}
    68.17288801571709%     {left: 81.72419201906%; top: 43.98295606624%;}
    68.36935166994105%     {left: 82.02035399562%; top: 43.92741859998%;}
    68.56581532416503%     {left: 82.00258374986%; top: 43.83604021638%;}
    68.762278978389%     {left: 82.15089699871999%; top: 43.944688752939996%;}
    68.95874263261297%     {left: 81.96039619376%; top: 44.36042900852%;}
    69.15520628683693%     {left: 81.86192463596001%; top: 44.86192045979999%;}
    69.3516699410609%     {left: 81.35753724848%; top: 45.444187095580006%;}
    69.54813359528488%     {left: 81.08457081624%; top: 45.95123514275999%;}
    69.74459724950884%     {left: 80.6724448965%; top: 46.706734348939996%;}
    69.9410609037328%     {left: 80.3446246069%; top: 47.33456322026%;}
    70.13752455795678%     {left: 80.11811082687998%; top: 47.75775985256%;}
    70.33398821218074%     {left: 79.8904873419%; top: 48.31952116918%;}
    70.53045186640472%     {left: 79.96417406206%; top: 48.76528040416%;}
    70.72691552062868%     {left: 79.80360744933999%; top: 48.80490772734%;}
    70.92337917485266%     {left: 79.87926620159999%; top: 48.429948184939995%;}
    71.11984282907662%     {left: 80.10732827893999%; top: 47.852768867920005%;}
    71.31630648330058%     {left: 80.22513107089999%; top: 46.99716583474%;}
    71.51277013752456%     {left: 80.57139524821999%; top: 45.89331933154%;}
    71.70923379174853%     {left: 80.43520324332%; top: 44.956028804759995%;}
    71.90569744597249%     {left: 80.54305776065999%; top: 44.257378599499994%;}
    72.10216110019645%     {left: 80.40496788563999%; top: 43.84139307748001%;}
    72.29862475442044%     {left: 79.7733433421%; top: 43.69851294028%;}
    72.4950884086444%     {left: 79.50978396298%; top: 43.83948583606%;}
    72.69155206286837%     {left: 78.76199047073999%; top: 43.94822051269999%;}
    72.88801571709233%     {left: 78.16127665132%; top: 43.9978199867%;}
    73.0844793713163%     {left: 77.19298735652%; top: 44.188355759480004%;}
    73.28094302554028%     {left: 76.47476038634%; top: 44.18398932164%;}
    73.47740667976424%     {left: 75.99734660964%; top: 44.05279979028%;}
    73.6738703339882%     {left: 75.47282699616001%; top: 43.895023893499996%;}
    73.87033398821218%     {left: 75.18476862102%; top: 43.585617357939995%;}
    74.06679764243614%     {left: 74.86363713942%; top: 43.41459400176%;}
    74.26326129666012%     {left: 74.78919072998%; top: 43.12460854108%;}
    74.4597249508841%     {left: 74.38790201774%; top: 42.92383411240001%;}
    74.65618860510806%     {left: 73.99615653982%; top: 42.8576068076%;}
    74.85265225933202%     {left: 73.55399136654%; top: 42.86906028648%;}
    75.049115913556%     {left: 73.00142744018%; top: 43.07507832008001%;}
    75.24557956777997%     {left: 72.70258853579999%; top: 43.23245013974001%;}
    75.44204322200393%     {left: 72.40352113374%; top: 43.526242578479994%;}
    75.6385068762279%     {left: 72.51805075736%; top: 43.74160888892%;}
    75.83497053045186%     {left: 72.51183775818%; top: 43.875461833539994%;}
    76.03143418467585%     {left: 72.72269204624%; top: 43.96846548234%;}
    76.2278978388998%     {left: 73.03433395618%; top: 43.99871734704001%;}
    76.42436149312377%     {left: 73.28531406636%; top: 43.88830423008%;}
    76.62082514734774%     {left: 73.6586020845%; top: 43.690371176240006%;}
    76.8172888015717%     {left: 74.06648040022%; top: 43.48526646468001%;}
    77.01375245579568%     {left: 74.6848734479%; top: 43.14968425516%;}
    77.21021611001964%     {left: 74.99241093933999%; top: 42.817086399619996%;}
    77.40667976424362%     {left: 75.38574621584002%; top: 42.5475135998%;}
    77.60314341846758%     {left: 75.95946101132%; top: 42.17466222402%;}
    77.79960707269156%     {left: 76.31440340712%; top: 41.84140103530001%;}
    77.99607072691552%     {left: 76.66647640744%; top: 41.481489442740006%;}
    78.1925343811395%     {left: 77.05289165086%; top: 40.96840971015999%;}
    78.38899803536346%     {left: 77.26173256640001%; top: 40.51228190744%;}
    78.58546168958742%     {left: 77.74004226662001%; top: 40.06155775082%;}
    78.7819253438114%     {left: 78.09613504478001%; top: 39.51120463893999%;}
    78.97838899803537%     {left: 78.20842862066002%; top: 38.976736672099996%;}
    79.17485265225933%     {left: 78.31888229688%; top: 38.528830243419996%;}
    79.3713163064833%     {left: 78.27426123476%; top: 38.32110976568%;}
    79.56777996070727%     {left: 78.23201167011999%; top: 38.080710598799996%;}
    79.76424361493125%     {left: 77.74325697598%; top: 37.94585544586%;}
    79.96070726915521%     {left: 77.259774571%; top: 38.044922342%;}
    80.15717092337917%     {left: 76.87609054726%; top: 38.20808829096%;}
    80.35363457760315%     {left: 76.48867205404%; top: 38.39815666056%;}
    80.55009823182712%     {left: 75.90499598874001%; top: 38.59983190064%;}
    80.74656188605108%     {left: 75.67595397154%; top: 38.74353911838%;}
    80.94302554027504%     {left: 75.33424417898%; top: 38.75646417166%;}
    81.13948919449902%     {left: 75.10097487116%; top: 38.66841597194%;}
    81.33595284872298%     {left: 74.97298559076%; top: 38.51842032657999%;}
    81.53241650294696%     {left: 74.72564377159999%; top: 38.2430747572%;}
    81.72888015717092%     {left: 74.5988103298%; top: 37.96706123736%;}
    81.9253438113949%     {left: 74.46546702664%; top: 37.57907942774%;}
    82.12180746561886%     {left: 74.39497179334%; top: 37.20090639388%;}
    82.31827111984283%     {left: 74.31849709326%; top: 36.89850906705999%;}
    82.5147347740668%     {left: 74.14692313756%; top: 36.72271720832%;}
    82.71119842829077%     {left: 73.97359626608%; top: 36.44127472912%;}
    82.90766208251473%     {left: 73.80469280704001%; top: 36.22462781038%;}
    83.1041257367387%     {left: 73.63112294348%; top: 36.019953990480005%;}
    83.30058939096267%     {left: 73.5227137527%; top: 35.85233340842%;}
    83.49705304518665%     {left: 73.30094955218%; top: 35.46015089576%;}
    83.69351669941061%     {left: 73.0840386934%; top: 35.1139890123%;}
    83.88998035363457%     {left: 72.86539894896%; top: 34.77489486532%;}
    84.08644400785855%     {left: 72.65195125818%; top: 34.411076319%;}
    84.28290766208252%     {left: 72.35826182698%; top: 34.2338189103%;}
    84.47937131630648%     {left: 71.96203443782001%; top: 34.058773312700005%;}
    84.67583497053045%     {left: 71.67046890817998%; top: 33.956267665400006%;}
    84.87229862475442%     {left: 71.4884182263%; top: 33.849306853579996%;}
    85.0687622789784%     {left: 71.20051175047999%; top: 33.79119368806%;}
    85.26522593320236%     {left: 70.9952948058%; top: 33.68774610274%;}
    85.46168958742632%     {left: 70.65426166136001%; top: 33.7008471985%;}
    85.6581532416503%     {left: 70.59252085152%; top: 33.619887855260004%;}
    85.85461689587426%     {left: 70.32069051762%; top: 33.555822217199996%;}
    86.05108055009823%     {left: 69.84739919606%; top: 33.42752413445999%;}
    86.2475442043222%     {left: 69.43580975768%; top: 33.48836321828%;}
    86.44400785854617%     {left: 69.05239857982%; top: 33.43041955788%;}
    86.64047151277013%     {left: 68.57274572221999%; top: 33.356854463859996%;}
    86.83693516699411%     {left: 68.03062245222%; top: 33.207399848200005%;}
    87.03339882121807%     {left: 67.29795354646%; top: 33.33148594392%;}
    87.22986247544205%     {left: 66.82835338996%; top: 33.3783185846%;}
    87.42632612966601%     {left: 66.3145450496%; top: 33.39654414328%;}
    87.62278978388997%     {left: 65.61520142436%; top: 33.54944964222001%;}
    87.81925343811395%     {left: 65.11041386154%; top: 33.7590140142%;}
    88.01571709233792%     {left: 64.67010807711999%; top: 34.051427599060005%;}
    88.21218074656188%     {left: 64.28380104789998%; top: 34.19603598376%;}
    88.40864440078585%     {left: 63.92481678616%; top: 34.379028747999996%;}
    88.60510805500982%     {left: 63.4639247788%; top: 34.580967337379995%;}
    88.8015717092338%     {left: 63.3739356274%; top: 34.7157171524%;}
    88.99803536345776%     {left: 63.01275544712001%; top: 34.68739568854%;}
    89.19449901768172%     {left: 62.82440290008001%; top: 34.71430674679999%;}
    89.3909626719057%     {left: 62.60395293594001%; top: 34.693883629160005%;}
    89.58742632612967%     {left: 62.37281399862%; top: 34.65204100844%;}
    89.78388998035363%     {left: 62.18712248678%; top: 34.641575709600005%;}
    89.9803536345776%     {left: 61.99211857848%; top: 34.640893714499995%;}
    90.17681728880157%     {left: 61.93959951342%; top: 34.60987393114%;}
    90.37328094302553%     {left: 61.574124198759996%; top: 34.63492303336%;}
    90.56974459724951%     {left: 61.549756451499995%; top: 34.72009729322%;}
    90.76620825147347%     {left: 61.44736830134%; top: 34.74822307842%;}
    90.96267190569745%     {left: 61.317090214000004%; top: 34.77589764654%;}
    91.15913555992141%     {left: 61.178126442579995%; top: 34.85330306798%;}
    91.35559921414537%     {left: 61.08199890068%; top: 34.77307859472%;}
    91.55206286836936%     {left: 60.9955560279%; top: 34.749520217859995%;}
    91.74852652259332%     {left: 60.82554927443999%; top: 34.52150005111999%;}
    91.94499017681729%     {left: 60.67037290004001%; top: 34.168876241999996%;}
    92.14145383104125%     {left: 60.73597695446%; top: 33.77967704848%;}
    92.33791748526524%     {left: 60.57304554086001%; top: 33.44863501748%;}
    92.5343811394892%     {left: 60.412420908800016%; top: 33.0841069312%;}
    92.73084479371316%     {left: 60.33055552616%; top: 32.37495980324%;}
    92.92730844793712%     {left: 60.19664452456001%; top: 31.843266586040002%;}
    93.1237721021611%     {left: 60.172580147960005%; top: 31.463121386119997%;}
    93.32023575638507%     {left: 59.87763770523999%; top: 30.98662083768%;}
    93.51669941060904%     {left: 59.84285789296%; top: 30.44492504266%;}
    93.71316306483301%     {left: 59.80715044946%; top: 30.067329915740004%;}
    93.90962671905697%     {left: 59.742903829759996%; top: 29.917760950260003%;}
    94.10609037328095%     {left: 59.69177517140001%; top: 29.791010671059997%;}
    94.30255402750491%     {left: 59.737950644899996%; top: 29.63778908918%;}
    94.49901768172889%     {left: 59.98701683112%; top: 29.50562703308%;}
    94.69548133595285%     {left: 59.98947435098%; top: 29.37357856544%;}
    94.89194499017681%     {left: 60.19717110457999%; top: 29.25029048306%;}
    95.08840864440079%     {left: 60.36895477561999%; top: 29.128821616819998%;}
    95.28487229862476%     {left: 60.5755605135%; top: 29.221402928939998%;}
    95.48133595284872%     {left: 60.64583387198%; top: 29.55644068058%;}
    95.67779960707269%     {left: 60.78211633770001%; top: 30.09589472478%;}
    95.87426326129666%     {left: 61.048893693920014%; top: 30.88666370966%;}
    96.07072691552064%     {left: 61.29908062046001%; top: 31.70128512208%;}
    96.2671905697446%     {left: 61.63125292107999%; top: 32.515337151000004%;}
    96.46365422396856%     {left: 61.89709450716%; top: 33.2230025423%;}
    96.66011787819254%     {left: 62.25919044499999%; top: 33.76395189718%;}
    96.85658153241651%     {left: 62.619156196480006%; top: 34.03955949796%;}
    97.05304518664047%     {left: 62.784214284259996%; top: 34.05894225510001%;}
    97.24950884086444%     {left: 62.959165390060015%; top: 34.1121892043%;}
    97.44597249508841%     {left: 63.24920351502%; top: 34.104744832760005%;}
    97.64243614931237%     {left: 63.49112275144%; top: 33.94279445814%;}
    97.83889980353635%     {left: 63.57565342579999%; top: 33.77343981066%;}
    98.03536345776031%     {left: 63.62193499751999%; top: 33.74210514632%;}
    98.23182711198429%     {left: 63.98099250366%; top: 33.730498986680004%;}
    98.42829076620825%     {left: 64.14738019288%; top: 33.582957758999996%;}
    98.62475442043221%     {left: 64.18561373018%; top: 33.66645238932%;}
    98.82121807465619%     {left: 64.39945797696%; top: 33.628764071899994%;}
    99.01768172888016%     {left: 64.63207126481998%; top: 33.53916958766%;}
    99.21414538310412%     {left: 64.82840024602%; top: 33.460040722340004%;}
    99.41060903732809%     {left: 64.84270450742%; top: 33.45714270623999%;}
    99.60707269155206%     {left: 64.91969016746%; top: 33.39040463952%;}
    99.80353634577604%     {left: 65.05902361988001%; top: 33.0674235107%;}
}
