body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    height: 100%;

}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%; 
    object-fit: fill;

    height: 100%;
}

#track-container {
    position: absolute;
    width: 100%;
    height: 100%;
    /* pointer-events: none; */
    /* transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0; */
    display: inline-block;
    /* pointer-events: none; */

}

#track {
    position: absolute;
    display: inline-block;
    /* opacity: 0.8; */
    /* width: 30px; */
    width: 5vh;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    /* pointer-events: none; */
    
}

.track-content {
    /* left: 15vw; */
    position: relative;
    /* background-color: lightblue; */
    font-size: 2vh;
    
    white-space: nowrap;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
    color: white;
    /* -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black; */
  

}

#loading {
    position: absolute;
    /* left: 100px;
    top: 100px; */
    z-index: 10;
}

#parrot {
    height: 1vh;
    width: 1vh;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

#spacer-column {
    margin-left: 3.2vw;
}
